<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RunnerSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="utils.BaseClass"/>
      <class name="automatedtests.InvalidLogin"/>
      <class name="automatedtests.ValidLogin"/>
      <class name="automatedtests.CheckingDashboard"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- RunnerSuite -->
